<template>
  <b-card>
    <b-card-header class="d-flex justify-content-between">
      <b-card-title>
        {{ title }}
      </b-card-title>

      <!-- dropdown button -->
      <b-button-group v-if="periodPicker" class="mt-1 mt-sm-0" size="sm">
        <b-button variant="outline-primary">
          Daily
        </b-button>
        <b-button variant="outline-primary">
          Monthly
        </b-button>
        <b-button variant="outline-primary">
          Yearly
        </b-button>
      </b-button-group>
      <!--/ dropdown button -->

      <!-- datepicker -->
      <div v-if="datePicker" class="d-flex align-items-center">
        <feather-icon icon="CalendarIcon" size="16" />
        <FlatPickr
          v-model="dateRange"
          :config="{ mode: 'range' }"
          class="form-control flat-picker bg-transparent border-0 shadow-none"
          placeholder="YYYY-MM-DD"
        />
      </div>
      <!-- datepicker -->
    </b-card-header>
    <Pie :chart-data="chart.data" :options="chart.options" class="mb-2" />
    <b-row v-if="showTable" class="bg-light p-1">
      <b-col
        v-for="(item, index) in items"
        :key="index"
        :class="index < items.length - 1 ? 'mb-1' : ''"
        class="w-50"
        cols="6"
      >
        <div
          class="font-weight-bold d-flex justify-content-between"
          :style="{ color: scheme[index] }"
        >
          <span class="text-left">
            {{ item[labelField] }}
          </span>
          <span class="">
            {{ item[valueField] }}
          </span>
        </div>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import FlatPickr from 'vue-flatpickr-component'
import Pie from '@/components/charts/Pie.vue'
import {
  Paired12,
  Spectral11,
  PuOr11,
} from 'chartjs-plugin-colorschemes/src/colorschemes/colorschemes.brewer'
// https://nagix.github.io/chartjs-plugin-colorschemes/colorchart.html -> for color schemes

export default {
  components: {
    Pie,
    FlatPickr,
  },
  props: {
    items: {
      type: Array,
      default: () => [],
    },
    title: {
      type: String,
      default: '',
    },
    labelField: {
      type: String,
      default: 'name',
    },
    valueField: {
      type: String,
      default: 'value',
    },
    scheme: {
      type: Array,
      default: () => [...Paired12, ...Spectral11, ...PuOr11],
    },
    periodPicker: {
      type: Boolean,
      default: false,
    },
    datePicker: {
      type: Boolean,
      default: true,
    },
    showTable: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      dateRange: null,
    }
  },
  computed: {
    chart() {
      return {
        data: {
          labels: this.items.map(item => item[this.labelField]),
          datasets: [
            {
              label: 'AOV',
              data: this.items.map(item => item[this.valueField]),
            },
          ],
        },
        options: {
          responsive: true,
          maintainAspectRatio: false,
          legend: {
            display: false,
          },
          plugins: {
            colorschemes: {
              scheme: this.scheme,
            },
          },
        },
      }
    },
  },
}
</script>

<style scoped>
.card-title {
  font-size: 1rem;
}
</style>
