<template>
  <svg
    width="106px"
    height="18px"
    viewBox="0 0 106 18"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <!-- Generator: Sketch 60.1 (88133) - https://sketch.com -->
    <title>logo</title>
    <desc>Created with Sketch.</desc>
    <g
      id="Symbols"
      stroke="none"
      stroke-width="1"
      fill="none"
      fill-rule="evenodd"
    >
      <g
        id="Header/Dark"
        transform="translate(-667.000000, -36.000000)"
        fill="#212721"
      >
        <path
          id="logo"
          d="M719.592272,36 C721.121919,36 722.257024,36.4309461 722.997008,37.2928384 C723.73728,38.1547306 724.107273,39.2178272 724.107273,40.4815515 L724.107273,40.4815515 L724.107273,42.0081673 L721.023428,42.0081673 L721.023428,39.3489847 L718.185956,39.3489847 L718.185956,40.4815515 C718.185956,40.8594581 718.354344,41.2448594 718.691698,41.6389085 C719.028764,42.0329575 719.575809,42.5745948 720.332545,43.2641086 C721.138094,44.0029146 721.796339,44.6514957 722.306414,45.2092755 C722.815911,45.7676318 723.260132,46.4121773 723.639078,47.1423355 C724.016869,47.8730703 724.206053,48.6565563 724.206053,49.4939466 C724.206053,50.8401127 723.839815,51.9277112 723.108207,52.7564538 C722.376311,53.5857729 721.179397,54 719.518332,54 C718.596962,54 717.799212,53.806867 717.125081,53.4214656 C716.450373,53.0357761 715.940876,52.5102812 715.595434,51.8455576 C715.249993,51.1805458 715.077272,50.4379924 715.077272,49.6170329 L715.077272,49.6170329 L715.077272,48.0411248 L718.185956,48.0411248 L718.185956,50.7743899 L721.023428,50.7743899 L721.023428,49.4201525 C721.023428,48.8782269 720.821824,48.3530203 720.418905,47.8442444 C720.015409,47.3354686 719.386336,46.6788162 718.531397,45.8742874 C717.791125,45.1847736 717.182558,44.581449 716.705699,44.0643136 C716.228262,43.5471783 715.825632,42.9605727 715.496654,42.3036321 C715.167387,41.6475562 715.003331,40.9413234 715.003331,40.1860867 C715.003331,38.8073474 715.368991,37.7650054 716.101177,37.0590609 C716.832785,36.3534047 717.996772,36 719.592272,36 Z M730.988691,36.3453046 L734.935561,36.3940202 L735.824004,36.3940202 C737.402753,36.3940202 738.566451,36.7024566 739.314234,37.3175998 C740.016904,37.8942965 740.389563,38.8431673 740.433401,40.1630246 L740.437785,40.4319422 L740.437785,49.518708 C740.437785,50.815582 740.045842,51.825639 739.265421,52.547726 C738.535681,53.2216738 737.488669,53.5812382 736.121801,53.6261848 L735.824004,53.6310006 L730.988691,53.6552143 L730.988691,36.3453046 Z M667,36.3453046 L670.94687,36.3940202 L671.835602,36.3940202 C673.414062,36.3940202 674.578049,36.7024566 675.325831,37.3175998 C676.075058,37.9327429 676.449094,38.9713375 676.449094,40.4319422 L676.449094,40.4319422 L676.449094,49.518708 C676.449094,50.815582 676.057439,51.825639 675.277019,52.547726 C674.495155,53.269813 673.349075,53.6310006 671.835602,53.6310006 L671.835602,53.6310006 L667,53.6552143 L667,36.3453046 Z M683.279967,36.3453622 L687.301356,36.3940779 L688.26345,36.3940779 C689.316238,36.3940779 690.188795,36.5751041 690.879678,36.9362917 C691.569406,37.2971911 692.066772,37.756963 692.371488,38.3141663 C692.638368,38.8029803 692.787824,39.3101122 692.821018,39.8361413 L692.828129,40.062741 L692.828129,41.1958843 C692.828129,41.8190987 692.717218,42.3898501 692.494819,42.9078502 C692.272708,43.4244091 691.985322,43.8271059 691.631793,44.1139229 C691.328768,44.359766 691.010677,44.5001419 690.676793,44.5352321 L690.508531,44.5440042 L690.508531,44.6927455 C691.134427,44.6927455 691.660387,44.9510249 692.088434,45.4675838 C692.472637,45.9335244 692.684416,46.542127 692.72293,47.2929712 L692.729349,47.5485203 L692.729349,50.0353245 L692.779317,53.6310582 L689.497912,53.6310582 L689.546725,50.0353245 L689.546725,46.1937064 L686.586211,46.1937064 L686.586211,49.9866088 L686.636179,53.6310582 L683.231443,53.6310582 L683.279967,49.9866088 L683.279967,36.3453622 Z M765.770858,36.3943662 L769.594976,44.9386298 L769.989807,45.9481103 L770.063748,45.9481103 L770.063748,39.1521331 L770.014647,36.3943662 L772.975161,36.3943662 L772.925771,39.1521331 L772.925771,50.158699 L773,53.6304817 L769.915867,53.6304817 L766.01752,45.5295593 L765.622688,44.6186631 L765.548748,44.6186631 L765.548748,50.1834892 L765.598138,53.6304817 L762.612496,53.6304817 L762.662174,50.134197 L762.662174,39.1521331 L762.612496,36.3943662 L765.770858,36.3943662 Z M747.269062,36.3447569 L750.278966,36.3940491 L755.65757,36.3940491 L755.65757,39.3982769 L753.289159,39.3489847 L750.698637,39.3489847 L750.698637,43.1410224 L752.820387,43.1410224 L754.794255,43.0917302 L754.794255,45.9728717 L752.820387,45.9235795 L750.698637,45.9235795 L750.698637,50.5527192 L752.919167,50.5527192 L755.830579,50.5034271 L755.830579,53.6307411 L747.219961,53.6307411 L747.269062,49.5677407 L747.269062,36.3447569 Z M699.822163,36.3447569 L702.832356,36.3940491 L708.210959,36.3940491 L708.210959,39.3982769 L705.84226,39.3489847 L703.251738,39.3489847 L703.251738,43.1410224 L705.373487,43.1410224 L707.347356,43.0917302 L707.347356,45.9728717 L705.373487,45.9235795 L703.251738,45.9235795 L703.251738,50.5527192 L705.472267,50.5527192 L708.38368,50.5034271 L708.38368,53.6307411 L699.773062,53.6307411 L699.822163,49.5677407 L699.822163,36.3447569 Z M737.254871,39.3486676 L734.195577,39.3486676 L734.195577,50.5532669 L737.254871,50.5532669 L737.254871,39.3486676 Z M673.266469,39.3486676 L670.207175,39.3486676 L670.207175,50.5532669 L673.266469,50.5532669 L673.266469,39.3486676 Z M689.546725,39.1527096 L686.610473,39.1527096 L686.610473,43.1159727 L689.546725,43.1159727 L689.546725,39.1527096 Z"
        />
      </g>
    </g>
  </svg>
</template>
