<template>
  <b-row>
    <b-col cols="12">
      <b-card>
        <Filters
          :groups="groupOptions"
          default-group="store"
          :query.sync="query"
        />
        <vue-good-table
          :columns="columns"
          :rows="items"
          :pagination-options="{
            enabled: true,
            perPage: pageLength,
          }"
          :sort-options="{
            enabled: true,
          }"
          class="mt-3"
          :is-loading="isLoading"
          :theme="skin === 'dark' && 'nocturnal'"
        >
          <template slot="loadingContent">
            <b-spinner class="align-middle" />
          </template>
          <template slot="pagination-bottom" slot-scope="props">
            <Pagination :props="props" />
          </template>
        </vue-good-table>
      </b-card>
    </b-col>
    <b-col class="text-center" lg cols="12">
      <BarCard
        :title="`${selectedGroup.text} - Conversion`"
        :items="items"
        :label-field="selectedGroup.chartLabel"
        value-field="ConversionRate"
        :is-loading="isLoading"
      />
    </b-col>
  </b-row>
</template>

<script>
import { mapState } from 'vuex'
import api from '@/services/api'
import Filters from '@/components/Filters.vue'
import BarCard from '@/components/charts/BarCard.vue'
import Pagination from '@/components/Pagination.vue'

export default {
  name: 'Conversion',
  components: {
    BarCard,
    Filters,
    Pagination,
  },
  data() {
    return {
      columns: [],
      items: [],
      groupOptions: [
        { text: 'Store', value: 'store', chartLabel: 'OutletName' },
        {
          text: 'Optometrist',
          value: 'optometrists',
          chartLabel: 'OptomName',
        },
      ],
      query: {},
      selectedGroup: {},
      pageLength: 10,
      isLoading: false,
    }
  },
  computed: {
    ...mapState({
      skin: state => state.appConfig.layout.skin,
    }),
  },
  watch: {
    items() {
      this.columns = Object.entries(this.items[0] || {}).map(
        ([field, value]) => ({
          label: field.replace(/([A-Z])/g, ' $1'),
          field,
          type: typeof value,
        })
      )

      this.selectedGroup = this.groupOptions.find(
        g => g.value === this.query.group
      )
    },
    $route: {
      handler() {
        this.getData()
      },
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.getData()
    })
  },
  methods: {
    async getData() {
      this.isLoading = true
      const response = await api.getConversion(this.query)

      this.items = response.data.data
      this.isLoading = false
    },
  },
}
</script>

<style lang="scss">
.vgt-loading {
  margin-top: 60px;
}
</style>
