<template>
  <div>
    <b-form-group v-if="showPeriods" label="Period" label-size="lg">
      <b-form-radio-group
        :checked="period"
        :options="periodOptions"
        @change="handleChangePeriod"
      />
    </b-form-group>

    <div class="d-flex align-items-center">
      <date-picker
        id="custom-date"
        v-model="date"
        type="date"
        :value-type="format"
        range
        placeholder="Please Select Custom Period"
      />
    </div>
  </div>
</template>

<script>
import DatePicker from 'vue2-datepicker'
import 'vue2-datepicker/index.css'

export default {
  components: {
    DatePicker,
  },
  props: {
    value: {
      type: Array,
      default: null,
    },
    showPeriods: {
      type: Boolean,
      default: true,
    },
    format: {
      type: String,
      default: 'YYYY-MM-DD',
    },
  },
  data() {
    return {
      date: null,
      period: null,
      periodOptions: [
        { text: 'Daily', value: 'daily' },
        { text: 'Weekly', value: 'weekly' },
        { text: 'Monthly', value: 'monthly' },
        { text: 'Yearly', value: 'yearly' },
      ],
    }
  },
  watch: {
    date: {
      handler() {
        this.findPeriod(this.date)
        this.$emit('input', this.date)
      },
    },
  },
  created() {
    if (Array.isArray(this.value) && this.value[0] && this.value[1]) {
      this.date = this.value
    } else {
      this.date = this.getPeriodDates()['daily'].map(d => d.format(this.format))
    }
  },
  methods: {
    getPeriodDates() {
      const now = this.$dayjs()
      return {
        daily: [now.subtract(1, 'day'), now],
        weekly: [now.subtract(1, 'week'), now],
        monthly: [now.subtract(1, 'month'), now],
        yearly: [now.subtract(1, 'year'), now],
      }
    },
    handleChangePeriod(period) {
      this.date = this.getPeriodDates()[period].map(d => d.format(this.format))
    },
    findPeriod(date) {
      const dates = this.getPeriodDates()
      const period = Object.entries(dates).find(([_, dateRange]) =>
        dateRange.map(d => d.format(this.format)).every((x, i) => x === date[i])
      )

      this.period = Array.isArray(period) ? period[0] : null
    },
  },
}
</script>
