<template>
  <b-form @submit.prevent="submit">
    <b-row>
      <b-col cols="5">
        <DateRange v-model="dateRange" />
      </b-col>
      <b-col v-if="groups.length > 0" cols="2">
        <b-form-group label="Group" label-size="lg" class="radio-groupby">
          <b-form-radio-group v-model="group" :options="groups" stacked />
        </b-form-group>
      </b-col>
      <b-col cols="2">
        <b-form-group label="Country" label-size="lg" class="radio-groupby">
          <b-form-radio-group
            v-model="country"
            :options="countries"
            stacked
            value-field="country_tag"
            text-field="name"
            @change="handleCountryChange"
          />
        </b-form-group>
      </b-col>
      <b-col cols="3">
        <b-form-group label="Product Tag" label-size="lg">
          <v-select
            v-model="productTag"
            :options="productsTags"
            :get-option-key="opt => opt.name"
            :reduce="opt => opt.name"
            placeholder="Please Select"
            :disabled="isTagsLoading"
            label="name"
          >
            <b-spinner v-show="isTagsLoading" slot="spinner" small />
          </v-select>
          <div class="mt-3 d-flex justify-content-end">
            <b-button type="submit" size="sm" variant="primary">
              Filter Results
            </b-button>
          </div>
        </b-form-group>
      </b-col>
      <b-col cols="1" class="d-flex align-items-center" />
    </b-row>
  </b-form>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import api from '@/services/api'
import DateRange from '@/components/DateRange'

export default {
  name: 'Filters',
  components: {
    DateRange,
  },
  props: {
    groups: {
      type: Array,
      default: () => [],
    },
    defaultGroup: {
      type: String,
      default: 'staff',
    },
    query: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      productsTags: [],
      dateRange: [],
      group: null,
      country: null,
      productTag: null,
      isTagsLoading: false,
    }
  },
  computed: {
    ...mapState(['countries']),
    queryObj() {
      return {
        start_date: this.dateRange[0],
        end_date: this.dateRange[1],
        group: this.group,
        country_tag: this.country,
        product_tag: this.productTag,
      }
    },
  },
  watch: {
    queryObj(q) {
      this.$emit('update:query', q)
    },
  },
  created() {
    this.setQueries()
    if (!this.countries || this.countries?.length === 0) {
      this.getCountries()
    }
    this.getProductTags()
  },
  methods: {
    ...mapActions(['getCountries']),
    setQueries() {
      const {
        start_date,
        end_date,
        group,
        country_tag,
        product_tag,
      } = this.$route.query

      this.dateRange = [start_date, end_date]
      this.group = group || this.defaultGroup
      this.country = country_tag || 'au'
      this.productTag = product_tag || 'Uniting Optical Glasses'
    },
    async getProductTags() {
      this.isTagsLoading = true
      const response = await api.getProductTags(this.country)
      this.productsTags = response.data
      this.isTagsLoading = false
    },
    handleCountryChange() {
      this.getProductTags()
    },
    submit() {
      this.$router
        .push({
          name: this.$route.name,
          query: this.query,
        })
        .catch(() => {})
    },
  },
}
</script>

<style lang="scss">
.radio-groupby {
  .custom-radio {
    margin-top: 0.5rem;
  }
}
</style>
